.GameSuggestion {
  width: 6vw !important;
  height: 12vh !important;
}

.SuggestionsContainer-ActiveSuggestionImageContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.2);
  width: 6vw;
  height: 20vh;
}

.SuggestionsContainer-SuggestionImageContainer {
  display: flex;
  filter: brightness(50%);
  justify-content: center;
  transition: transform 0.2s, filter 0.3s;

  height: 20vh;
}

.SuggestionsContainer-SuggestionImageContainer:hover {
  transform: scale(1.2);
  filter: brightness(100%);
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;

  align-items: center;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;

  margin-left: 0;
}
