.App {

  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center !important;
  background: linear-gradient(to top left, rgb(0, 13, 43), rgb(22, 50, 104)) !important;
}

.App-SideBarSearchContainer {
  height: 100vh;
  margin-top: 17vh;
}

.App-GamesContainer {
  
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center !important;

}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-ActiveImageContainer {
  display: flex;
  justify-content: center;

  width: 18vw;
  height: 48vh;

}

.App-ActiveSuggestionImageContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.2);
  width: 6vw;
  height: 20vh
}

.App-SuggestionImageContainer {
  display: flex;
  filter: brightness(50%);
  justify-content: center;
  transition: transform .2s, filter .3s;
  width: 6vw;
  height: 20vh
}

.App-SuggestionImageContainer:hover {
  transform: scale(1.2);
  filter: brightness(100%);
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
