.App {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center !important;
  background: linear-gradient(
    to top left,
    rgb(0, 13, 43),
    rgb(22, 50, 104)
  ) !important;
}

.App-SideBarSearchContainer {
  height: 84vh;
  padding-top: 0vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.App-GamesContainer {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center !important;
}

.App-LogoContainer {
  height: 90vh;
  padding-top: 0vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.App-GamesContainer h3 {
  margin: 0;
  padding: 0;
}
