.game-container {
    display: flex;

  
   
    width: 60vw;
    height: 80vh;
}

.text {
 
    font-size: 1vw;
    width: 30vw;
    margin: 0;
   
    padding-left: 4em;

}

.text h1{
    
    margin: 0 auto;
    
    padding: 0;
    
    
}
