html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to top,
    rgb(37, 42, 62),
    (60, 81, 113)
  ) !important;
}

h1,
h2,
h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  color: rgb(226, 226, 226);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
